Repository espressif/esp-sr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_esp_sr, build_esp_tts, build_esp32c5, test_esp_sr, test_esp_tts, build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

Path conditions:
  build_esp_sr: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: lib/**/*, include/**/*, src/**/*, model/**/*, test_apps/esp-sr/**/*, CMakeList.txt)
  build_esp_tts: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: esp-tts/**/*, test_apps/esp-tts/**/*, CMakeList.txt)
  build_esp32c5: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: lib/esp32c5/*, lib/esp32c3/*, lib/esp32c6/*, lib/esp32s2/*, include/esp32c5/*, src/**/*, model/**/*, test_apps/esp-sr/**/*, CMakeList.txt)
  test_esp_sr: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: lib/**/*, include/**/*, src/**/*, model/**/*, test_apps/esp-sr/**/*, CMakeList.txt)
  test_esp_tts: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: esp-tts/**/*, test_apps/esp-tts/**/*, CMakeList.txt)
  build_esp_sr_html: any of: docs/**/*
  build_esp_sr_pdf: any of: docs/**/*
  deploy_docs_preview: any of: docs/**/*

docs: add wake word submission agreement
  README.md
  docs/_static/Wake Word Submission Agreement.pdf
Due: build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

ci: build by esp-idf v5.5
  .gitlab-ci.yml
Due: none

Add Hi,Andy and 你好小脉 wake word models (wn9_hiandy_tts2 and wn9_ni3hao3xiao3mai4_tts2)
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn9_hiandy_tts2/_MODEL_INFO_
  model/wakenet_model/wn9_hiandy_tts2/wn9_data
  model/wakenet_model/wn9_hiandy_tts2/wn9_index
  model/wakenet_model/wn9_ni3hao3xiao3mai4_tts2/_MODEL_INFO_
  model/wakenet_model/wn9_ni3hao3xiao3mai4_tts2/wn9_data
  model/wakenet_model/wn9_ni3hao3xiao3mai4_tts2/wn9_index
Due: build_esp_sr, build_esp32c5, test_esp_sr

model: add wn9_heyivy_tts2 model
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn9_heyivy_tts2/_MODEL_INFO_
  model/wakenet_model/wn9_heyivy_tts2/wn9_data
  model/wakenet_model/wn9_heyivy_tts2/wn9_index
Due: build_esp_sr, build_esp32c5, test_esp_sr

Update CMakeLists.txt
  CMakeLists.txt
Due: none

docs: update wakenet9l docs
  README.md
  docs/en/wake_word_engine/README.rst
  docs/zh_CN/benchmark/README.rst
  docs/zh_CN/wake_word_engine/README.rst
Due: build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

feat: add two tts3 models
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn9_ni3hao3xiao3rui4_tts3/_MODEL_INFO_
  model/wakenet_model/wn9_ni3hao3xiao3rui4_tts3/wn9_data
  model/wakenet_model/wn9_ni3hao3xiao3rui4_tts3/wn9_index
  model/wakenet_model/wn9l_nihaoxiaozhi_tts3/_MODEL_INFO_
  model/wakenet_model/wn9l_nihaoxiaozhi_tts3/wn9_data
  model/wakenet_model/wn9l_nihaoxiaozhi_tts3/wn9_index
Due: build_esp_sr, build_esp32c5, test_esp_sr

bump esp-sr to v2.2.0
  CHANGELOG.md
  idf_component.yml
Due: none

fix: fix README format
  README.md
Due: none

model: add haixiaoou wakenet9 model
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn9_hai1xiao3ou1_tts3/_MODEL_INFO_
  model/wakenet_model/wn9_hai1xiao3ou1_tts3/wn9_data
  model/wakenet_model/wn9_hai1xiao3ou1_tts3/wn9_index
Due: build_esp_sr, build_esp32c5, test_esp_sr

model: add xiaojiaxiaojia wn9 model
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn9_xiao3jia1xiao3jia1_tts3/_MODEL_INFO_
  model/wakenet_model/wn9_xiao3jia1xiao3jia1_tts3/wn9_data
  model/wakenet_model/wn9_xiao3jia1xiao3jia1_tts3/wn9_index
Due: build_esp_sr, build_esp32c5, test_esp_sr

bump esp-sr to v2.2.1
  CHANGELOG.md
  idf_component.yml
  lib/esp32/libesp_audio_processor.a
  lib/esp32/libmultinet.a
  lib/esp32/libwakenet.a
  test_apps/esp-sr/main/test_afe.cpp
Due: build_esp_sr, build_esp32c5, test_esp_sr

add codespell
  .codespellrc
  .gitlab-ci.yml
  .pre-commit-config.yaml
  README.md
  ci/pre_commit.yml
Due: none

docs: update README
  README.md
Due: none

bugfix: fix mn5q8 crash
  lib/esp32s3/libesp_audio_front_end.a
  lib/esp32s3/libmultinet.a
  lib/esp32s3/libnsnet.a
  lib/esp32s3/libvadnet.a
  lib/esp32s3/libwakenet.a
Due: build_esp_sr, test_esp_sr

model: add xiaofengxiaofeng and hi stack chan wn9 models
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn9_histackchan_tts3/_MODEL_INFO_
  model/wakenet_model/wn9_histackchan_tts3/wn9_data
  model/wakenet_model/wn9_histackchan_tts3/wn9_index
  model/wakenet_model/wn9_xiao3feng1xiao3feng1_tts3/_MODEL_INFO_
  model/wakenet_model/wn9_xiao3feng1xiao3feng1_tts3/wn9_data
  model/wakenet_model/wn9_xiao3feng1xiao3feng1_tts3/wn9_index
Due: build_esp_sr, build_esp32c5, test_esp_sr

bump esp-sr to v2.2.2
  CHANGELOG.md
  idf_component.yml
Due: none

fix: update afe config
  .codespellrc
  include/esp32s3/esp_afe_config.h
Due: build_esp_sr, test_esp_sr

fix: fix code spell
  .codespellrc
  docs/en/speech_command_recognition/README.rst
  docs/en/vadnet/README.rst
  docs/zh_CN/speech_command_recognition/README.rst
  esp-tts/esp_tts_chinese/include/esp_tts_stretcher.h
  esp-tts/esp_tts_chinese/include/esp_tts_voice.h
Due: build_esp_tts, test_esp_tts, build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

model: Add Hey Kira wn9 model
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn9_heykira_tts3/_MODEL_INFO_
  model/wakenet_model/wn9_heykira_tts3/wn9_data
  model/wakenet_model/wn9_heykira_tts3/wn9_index
Due: build_esp_sr, build_esp32c5, test_esp_sr

model: add heygigi wn9 and update histackchan wn9
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn9l_heygigi/_MODEL_INFO_
  model/wakenet_model/wn9l_heygigi/wn9_data
  model/wakenet_model/wn9l_heygigi/wn9_index
  model/wakenet_model/wn9l_histackchan_tts3/_MODEL_INFO_
  model/wakenet_model/wn9l_histackchan_tts3/wn9_data
  model/wakenet_model/wn9l_histackchan_tts3/wn9_index
Due: build_esp_sr, build_esp32c5, test_esp_sr

feat: add wake models
  CHANGELOG.pdf
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn9l_fr_bonjouresp_tts3/_MODEL_INFO_
  model/wakenet_model/wn9l_fr_bonjouresp_tts3/wn9_data
  model/wakenet_model/wn9l_fr_bonjouresp_tts3/wn9_index
  model/wakenet_model/wn9l_ja_konnichihaesp_tts3/_MODEL_INFO_
  model/wakenet_model/wn9l_ja_konnichihaesp_tts3/wn9_data
  model/wakenet_model/wn9l_ja_konnichihaesp_tts3/wn9_index
  model/wakenet_model/wn9l_ni3hao3xing1bao3_tts3/_MODEL_INFO_
  model/wakenet_model/wn9l_ni3hao3xing1bao3_tts3/wn9_data
  model/wakenet_model/wn9l_ni3hao3xing1bao3_tts3/wn9_index
Due: build_esp_sr, build_esp32c5, test_esp_sr

bump esp-sr to v2.4.2
  idf_component.yml
Due: none

feat: add a new AEC mode and AFE mode
  .gitignore
  CHANGELOG.md
  README.md
  docs/_static/aec_in_far.wav
  docs/_static/aec_in_near.wav
  docs/_static/aec_test_fd.wav
  docs/_static/aec_test_sr.wav
  docs/_static/aec_test_voip.wav
  docs/en/acoustic_echo_cancellation/README.rst
  docs/en/benchmark/README.rst
  docs/en/index.rst
  docs/zh_CN/acoustic_echo_cancellation/README.rst
  include/esp32s3/esp_aec.h
  include/esp32s3/esp_aec_nlp.h
  include/esp32s3/esp_afe_config.h
  lib/esp32s3/libc_speech_features.a
  lib/esp32s3/libdl_lib.a
  lib/esp32s3/libesp_audio_front_end.a
  lib/esp32s3/libesp_audio_processor.a
  lib/esp32s3/libflite_g2p.a
  lib/esp32s3/libfst.a
  lib/esp32s3/libhufzip.a
  lib/esp32s3/libmultinet.a
  lib/esp32s3/libnsnet.a
  lib/esp32s3/libvadnet.a
  lib/esp32s3/libwakenet.a
  test_apps/esp-sr/main/test_afe.cpp
  test_apps/esp-sr/sdkconfig.ci.esp32
  test_apps/esp-sr/sdkconfig.ci.esp32_wn9
  test_apps/esp-sr/sdkconfig.ci.mn2_cn
Due: build_esp_sr, build_esp32c5, test_esp_sr, build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

bugfix: fix cmake to support idf v5.5.1 and idf v5.5.2 for esp32p4 v1
  CMakeLists.txt
Due: none

bugfix: Fix the coexistence bug of esp-dl and esp-sr on ESP32-S3
  CHANGELOG.md
  idf_component.yml
  lib/esp32s3/libc_speech_features.a
  lib/esp32s3/libdl_lib.a
  lib/esp32s3/libesp_audio_front_end.a
  lib/esp32s3/libesp_audio_processor.a
  lib/esp32s3/libflite_g2p.a
  lib/esp32s3/libfst.a
  lib/esp32s3/libhufzip.a
  lib/esp32s3/libmultinet.a
  lib/esp32s3/libnsnet.a
  lib/esp32s3/libvadnet.a
  lib/esp32s3/libwakenet.a
Due: build_esp_sr, test_esp_sr

docs: update aec test audio for FD mode
  docs/_static/aec_test_fd.wav
  docs/_static/aec_test_fd_v1.wav
Due: build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

feat: update prebuilt libs !15
  docs/en/direction_of_arrival/README.rst
  docs/en/flash_model/README.rst
  docs/en/gsc_beamforming/README.rst
  docs/en/nsnet/README.rst
  docs/zh_CN/direction_of_arrival/README.rst
  docs/zh_CN/flash_model/README.rst
  docs/zh_CN/gsc_beamforming/README.rst
  docs/zh_CN/nsnet/README.rst
  lib/esp32p4/libdl_lib.a
  lib/esp32p4/libesp_audio_front_end.a
  lib/esp32p4/libesp_audio_processor.a
  lib/esp32p4/libmultinet.a
  lib/esp32p4/libnsnet.a
  lib/esp32p4/libnsnet3.a
  lib/esp32p4/libvadnet.a
  lib/esp32p4/libwakenet.a
  lib/esp32p4_less_v3/libmultinet.a
  lib/esp32p4_less_v3/libnsnet.a
  lib/esp32p4_less_v3/libnsnet3.a
  lib/esp32p4_less_v3/libvadnet.a
  lib/esp32p4_less_v3/libwakenet.a
  lib/esp32p4_less_v3_idf6/libmultinet.a
  lib/esp32p4_less_v3_idf6/libnsnet.a
  lib/esp32p4_less_v3_idf6/libnsnet3.a
  lib/esp32p4_less_v3_idf6/libvadnet.a
  lib/esp32p4_less_v3_idf6/libwakenet.a
  lib/esp32s3/libmultinet.a
  lib/esp32s3/libnsnet.a
  lib/esp32s3/libnsnet3.a
  lib/esp32s3/libvadnet.a
  lib/esp32s3/libwakenet.a
  lib/esp32s31/libesp_audio_processor.a
  lib/esp32s31/libmultinet.a
  lib/esp32s31/libnsnet.a
  lib/esp32s31/libnsnet3.a
  lib/esp32s31/libvadnet.a
  lib/esp32s31/libwakenet.a
  model/movemodel.py
Due: build_esp_sr, build_esp32c5, test_esp_sr, build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

fix: link libnsnet3.a and integrate nsnet3 model
  CMakeLists.txt
  Kconfig.projbuild
  model/nsnet_model/nsnet3/_MODEL_INFO_
  model/nsnet_model/nsnet3/nsnet3_data
  model/nsnet_model/nsnet3/nsnet3_index
Due: build_esp_sr, build_esp32c5, test_esp_sr
