Repository espressif/esp-sr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_esp_sr, build_esp_tts, build_esp32c5, test_esp_sr, test_esp_tts, build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

build_esp_sr:
  stage: build
  tags:
  - build
  image: ${IMAGE}
  artifacts:
    when: always
    paths:
    - '**/build*/*.bin'
    - '**/build*/*.map'
    - '**/build*/*.elf'
    - '**/build*/flasher_args.json'
    - '**/build*/flash_project_args'
    - '**/build*/config/sdkconfig.json'
    - '**/build*/bootloader/*.bin'
  ...

build_esp_tts:
  stage: build
  tags:
  - build
  image: ${IMAGE}
  artifacts:
    when: always
    paths:
    - '**/build*/*.bin'
    - '**/build*/*.map'
    - '**/build*/*.elf'
    - '**/build*/flasher_args.json'
    - '**/build*/flash_project_args'
    - '**/build*/config/sdkconfig.json'
    - '**/build*/bootloader/*.bin'
  ...

build_esp32c5:
  stage: build
  tags:
  - build
  image: ${IMAGE}
  artifacts:
    when: always
    paths:
    - '**/build*/*.bin'
    - '**/build*/*.map'
    - '**/build*/*.elf'
    - '**/build*/flasher_args.json'
    - '**/build*/flash_project_args'
    - '**/build*/config/sdkconfig.json'
    - '**/build*/bootloader/*.bin'
  ...

test_esp_sr:
  image: $DOCKER_TARGET_TEST_v5_3_ENV_IMAGE
  stage: target_test
  timeout: 10 hour
  variables:
    TEST_TARGET: esp32s3
    TEST_FOLDER: ./test_apps/esp-sr
    TEST_ENV: esp32s3
    IDF_VERSION: '5.4'
  cache:
  - key: pip-cache
    paths:
    - .cache/pip
    policy: pull
  artifacts:
    when: always
    paths:
  ...

test_esp_tts:
  image: $DOCKER_TARGET_TEST_v5_3_ENV_IMAGE
  stage: target_test
  timeout: 10 hour
  variables:
    TEST_TARGET: esp32s3
    TEST_FOLDER: ./test_apps/esp-tts
    TEST_ENV: esp32s3
    IDF_VERSION: '5.4'
  cache:
  - key: pip-cache
    paths:
    - .cache/pip
    policy: pull
  artifacts:
    when: always
    paths:
  ...

build_esp_sr_html:
  stage: build_docs
  image: $ESP_DOCS_ENV_IMAGE
  variables:
    DOCS_DIR: $CI_PROJECT_DIR/docs
  artifacts:
    when: always
    paths:
    - $DOCS_DIR/_build/*/*/html/*
    - $DOCS_DIR/_build/*/*/*.txt
    expire_in: 4 days
  script:
  - cd $DOCS_DIR
  - ./check_lang_folder_sync.sh
  - pip install -r requirements.txt
  ...

build_esp_sr_pdf:
  stage: build_docs
  image: $ESP_DOCS_ENV_IMAGE
  variables:
    DOCS_DIR: $CI_PROJECT_DIR/docs
  artifacts:
    when: always
    paths:
    - $DOCS_DIR/_build/*/*/latex/*
    - $DOCS_DIR/_build/*/*/*.txt
    expire_in: 4 days
  script:
  - cd $DOCS_DIR
  - ./check_lang_folder_sync.sh
  - pip install -r requirements.txt
  ...

deploy_docs_preview:
  stage: deploy
  image: $ESP_DOCS_ENV_IMAGE
  tags:
  - deploy_docs
  needs:
  - build_esp_sr_html
  - build_esp_sr_pdf
  script:
  - source ${CI_PROJECT_DIR}/ci/utils.sh
  - add_doc_server_ssh_keys $DOCS_DEPLOY_PRIVATEKEY $DOCS_DEPLOY_SERVER $DOCS_DEPLOY_SERVER_USER
  - export GIT_VER=$(git describe --always)
  ...

feat: add アイリス wn10 model
  CHANGELOG.md
  Kconfig.projbuild
  idf_component.yml
  model/wakenet_model/wn10_ja_airisu/_MODEL_INFO_p1
  model/wakenet_model/wn10_ja_airisu/_MODEL_INFO_p2
  model/wakenet_model/wn10_ja_airisu/wn10_data_p1
  model/wakenet_model/wn10_ja_airisu/wn10_data_p2
Due: build_esp_sr, build_esp32c5, test_esp_sr

feat: update prebuilt libs !16
  docs/en/nsnet/README.rst
  docs/zh_CN/nsnet/README.rst
  lib/esp32p4/libmultinet.a
  lib/esp32p4/libnsnet3.a
  lib/esp32p4/libvadnet.a
  lib/esp32p4/libwakenet.a
  lib/esp32p4_less_v3/libmultinet.a
  lib/esp32p4_less_v3/libnsnet3.a
  lib/esp32p4_less_v3/libvadnet.a
  lib/esp32p4_less_v3/libwakenet.a
  lib/esp32p4_less_v3_idf6/libmultinet.a
  lib/esp32p4_less_v3_idf6/libnsnet3.a
  lib/esp32p4_less_v3_idf6/libvadnet.a
  lib/esp32p4_less_v3_idf6/libwakenet.a
  lib/esp32s3/libmultinet.a
  lib/esp32s3/libnsnet3.a
  lib/esp32s3/libvadnet.a
  lib/esp32s3/libwakenet.a
  lib/esp32s31/libmultinet.a
  lib/esp32s31/libnsnet3.a
  lib/esp32s31/libvadnet.a
  lib/esp32s31/libwakenet.a
Due: build_esp_sr, test_esp_sr, build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

fix: NULL pointer passed to fclose in SD-card model scanning
  src/model_path.c
Due: build_esp_sr, build_esp32c5, test_esp_sr

fix: NULL FILE pointer passed to fclose in SD-card model scanning
  src/model_path.c
Due: build_esp_sr, build_esp32c5, test_esp_sr

model: add new es wn10 model
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn10_en_heybuddy/_MODEL_INFO_p1
  model/wakenet_model/wn10_en_heybuddy/_MODEL_INFO_p2
  model/wakenet_model/wn10_en_heybuddy/wn10_data_p1
  model/wakenet_model/wn10_en_heybuddy/wn10_data_p2
  model/wakenet_model/wn10_es_holaesp/_MODEL_INFO_p1
  model/wakenet_model/wn10_es_holaesp/_MODEL_INFO_p2
  model/wakenet_model/wn10_es_holaesp/wn10_data_p1
  model/wakenet_model/wn10_es_holaesp/wn10_data_p2
  tool/generate_wakeword_list.py
  wakeword_list.md
Due: build_esp_sr, build_esp32c5, test_esp_sr

feat: reduce esp-sr bin size
  CHANGELOG.md
  CMakeLists.txt
  idf_component.yml
  test_apps/build_apps.py
  tool/esp-sr-req.yml
Due: build_esp_sr, build_esp_tts, build_esp32c5, test_esp_sr, test_esp_tts

model: add de/ja/fr wn10 models
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn10_de_halloesp/_MODEL_INFO_p1
  model/wakenet_model/wn10_de_halloesp/_MODEL_INFO_p2
  model/wakenet_model/wn10_de_halloesp/wn10_data_p1
  model/wakenet_model/wn10_de_halloesp/wn10_data_p2
  model/wakenet_model/wn10_fr_bonjouresp/_MODEL_INFO_p1
  model/wakenet_model/wn10_fr_bonjouresp/_MODEL_INFO_p2
  model/wakenet_model/wn10_fr_bonjouresp/wn10_data_p1
  model/wakenet_model/wn10_fr_bonjouresp/wn10_data_p2
  model/wakenet_model/wn10_ja_konnichihaesp/_MODEL_INFO_p1
  model/wakenet_model/wn10_ja_konnichihaesp/_MODEL_INFO_p2
  model/wakenet_model/wn10_ja_konnichihaesp/wn10_data_p1
  model/wakenet_model/wn10_ja_konnichihaesp/wn10_data_p2
  tool/generate_wakeword_list.py
  wakeword_list.md
Due: build_esp_sr, build_esp32c5, test_esp_sr

docs: mark afe_handle const in AFE usage examples
  docs/en/audio_front_end/README.rst
  docs/en/audio_front_end/migration_guide.rst
  docs/zh_CN/audio_front_end/README.rst
  docs/zh_CN/audio_front_end/migration_guide.rst
Due: build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

ci: do not support esp32c5 on esp-idf v5.4
  .gitlab/ci/build.yml
Due: none

model: add wn10_pt_olaesp model
  Kconfig.projbuild
  README.md
  model/wakenet_model/wn10_heypamet/_MODEL_INFO_p1
  model/wakenet_model/wn10_heypamet/_MODEL_INFO_p2
  model/wakenet_model/wn10_heypamet/wn10_data_p1
  model/wakenet_model/wn10_heypamet/wn10_data_p2
  model/wakenet_model/wn10_pt_olaesp/_MODEL_INFO_p1
  model/wakenet_model/wn10_pt_olaesp/_MODEL_INFO_p2
  model/wakenet_model/wn10_pt_olaesp/wn10_data_p1
  model/wakenet_model/wn10_pt_olaesp/wn10_data_p2
  tool/generate_wakeword_list.py
  wakeword_list.md
Due: build_esp_sr, build_esp32c5, test_esp_sr

feat: support wakenet10s
  CHANGELOG.md
  CMakeLists.txt
  Kconfig.projbuild
  README.md
  idf_component.yml
  model/wakenet_model/wn10s_hilexin/_MODEL_INFO_p0
  model/wakenet_model/wn10s_hilexin/_MODEL_INFO_p1
  model/wakenet_model/wn10s_hilexin/_MODEL_INFO_p2
  model/wakenet_model/wn10s_hilexin/wn10_data_p0
  model/wakenet_model/wn10s_hilexin/wn10_data_p1
  model/wakenet_model/wn10s_hilexin/wn10_data_p2
  test_apps/esp32c5/sdkconfig.ci.esp32_wn10
  test_apps/esp32c5/sdkconfig.ci.esp32c3_wn10
  test_apps/esp32c5/sdkconfig.ci.esp32c5_wn10
  test_apps/esp32c5/sdkconfig.ci.esp32c6_wn10
  test_apps/esp32c5/sdkconfig.ci.esp32s2_wn10
  tool/esp-sr-req.yml
Due: build_esp_sr, build_esp32c5, test_esp_sr

docs: update ESP_Wake_Words_Customization
  docs/en/wake_word_engine/ESP_Wake_Words_Customization.rst
  docs/zh_CN/wake_word_engine/ESP_Wake_Words_Customization.rst
Due: build_esp_sr_html, build_esp_sr_pdf, deploy_docs_preview

feat: update prebuilt libs !23
  lib/esp32p4/libnsnet3.a
  lib/esp32p4_less_v3/libnsnet3.a
  lib/esp32p4_less_v3_idf6/libnsnet3.a
  lib/esp32s3/libnsnet3.a
  lib/esp32s31/libnsnet3.a
Due: build_esp_sr, test_esp_sr

Path conditions:
  build_esp_sr: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: lib/**/*, include/**/*, src/**/*, model/**/*, test_apps/esp-sr/**/*, CMakeList.txt)
  build_esp_tts: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: esp-tts/**/*, test_apps/esp-tts/**/*, CMakeList.txt)
  build_esp32c5: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: lib/esp32c5/*, lib/esp32c3/*, lib/esp32c6/*, lib/esp32s2/*, include/esp32c5/*, src/**/*, model/**/*, test_apps/esp-sr/**/*, CMakeList.txt)
  test_esp_sr: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: lib/**/*, include/**/*, src/**/*, model/**/*, test_apps/esp-sr/**/*, CMakeList.txt)
  test_esp_tts: (any of: test_apps/build_apps.py, conftest.py, pytest.ini, CMakeList.txt) or (any of: esp-tts/**/*, test_apps/esp-tts/**/*, CMakeList.txt)
  build_esp_sr_html: any of: docs/**/*
  build_esp_sr_pdf: any of: docs/**/*
  deploy_docs_preview: any of: docs/**/*
